langchain>=0.2.35,<0.3.0
langchain-community>=0.2.35,<0.3.0
langchain-core>=0.2.35,<0.3.0
langchain-huggingface
langchain-groq
faiss-cpu
python-dotenv
pypdf
sentence-transformers
streamlit
langchain-text-splitters
